% -*- mode: erlang -*-

%% EMP requires at least revision 15 
{require_otp_vsn, "R1[5-9].*"}.

%% Enable coverage reporting? (True if debugging.)
{cover_enabled, true}.
{cover_print_enabled, true}. 

%% Options that we want to go to the Erlang Compiler
{erl_opts, [
    debug_info %% Allow debugging?
    , fail_on_warning %% Don't allow even warnings when compiling!
    %, native  %% In order to get native HiPE support, NOT ALWAYS SUPPORTED!
]}. 

%% We want the plugin behaviour compiled first.
{erl_first_files, ["src/emp_plugin.erl"]}.